<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8"> 
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>AZ Sistemas</title>

		<link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
		<link rel="stylesheet" type="text/css" href="css/my_normalize.css">
		<link rel="stylesheet" type="text/css" href="css/main.css">
	</head>
	
	<body>
		<div class="content_esquerda">
			<div class="logo_area">AZ SISTEMAS</div>
			<br>
			<div class="menu_area">
				<a href="#">
					<div class="menu_item">home</div>
				</a>
				<a href="#">
					<div class="menu_item">veículos</div>
				</a>
			</div>
		</div>
		<div class="content_direita">
			<div class="user_area">Brunoid</div>
			<div class="content_area">
				<h1>Header 1</h1>
				<h2>Header 2</h2>
				<h3>Header 3</h3>

				<p>Alex Kidd[a] is a video game character whose popularity peaked during the late 1980s and who was the protagonist of both a series of video games released by Sega and their fictional universe, as well as in numerous spin-offs such as novelizations and comics. </p>
			</div>
		</div>
	</body>
</html>
